@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,600;0,6..12,700;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    width: 100%;
    padding-top: 20px;
    z-index: 1000;
    transition: all 200ms ease;
    font-family: 'Nunito Sans', sans-serif;
}

header:hover {
    background: rgba(0,0,0,0.5);
}

header > a {
    text-decoration: none;
    color: white;
}

header > h1 {
    margin-left: 100px;
}

nav {
    display: flex;
    gap: 20px;
}

nav > button {
    all: unset;
    list-style: none;
}

nav > button > a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    transition: all 200ms ease;
}

nav > button:hover {
    border-bottom: 2px solid white;
}

section {
    position: relative;
    width: 100%;
    height: 100svh;
    display: flex;
    overflow: hidden;
}

section > img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

#lunar {
    /*transform: translateY(10%);*/
}

main {
    z-index: 10;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("/img/Space.png");
}